.skills {
  background: #111;
  color: #f5f5f3;
}

.skills .section-top {
  border-color: #333;
  color: #777;
}

.skills-intro p {
  margin-bottom: 20px;

  font-size: 10px;
  font-weight: 600;
  letter-spacing: 0.15em;
  color: #888;
}

.skills-intro h2 {
  font-size: clamp(55px, 7vw, 105px);
  line-height: 0.95;
  letter-spacing: -0.07em;
}

.skills-list {
  margin-top: 100px;

  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.skill-item {
  display: grid;
  grid-template-columns: 45px 1fr 1fr;
  gap: 20px;
  align-items: start;

  padding: 35px 0;

  border-top: 1px solid #333;
}

.skill-item:nth-child(odd) {
  padding-right: 50px;
}

.skill-item:nth-child(even) {
  padding-left: 50px;
  border-left: 1px solid #333;
}

.skill-item > span {
  font-size: 10px;
  color: #666;
}

.skill-item h3 {
  font-size: 22px;
  letter-spacing: -0.04em;
}

.skill-item p {
  font-size: 12px;
  line-height: 1.7;
  color: #777;
}

@media (max-width: 900px) {
  .skills-list {
    grid-template-columns: 1fr;
  }

  .skill-item:nth-child(even) {
    padding-left: 0;
    border-left: none;
  }

  .skill-item:nth-child(odd) {
    padding-right: 0;
  }
}

@media (max-width: 600px) {
  .skills-intro h2 {
    font-size: 58px;
  }

  .skill-item {
    grid-template-columns: 35px 1fr;
    gap: 15px;
  }

  .skill-item p {
    grid-column: 2;
  }
}